<div>
    <div>
        <h1>Dados dos Alunos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Cep</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>18</td>
                <td>(47) 99834-2901</td>
                <td>marklee@gmail.com</td>
                <td>88463-092</td>
                <td><button type="button" class="btn btn-primary">Endereço</button> </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>17</td>
                <td>(47) 96382-0184</td>
                <td>jacobasketball@gmail.com</td>
                <td>88637-720</td>
                <td><button type="button" class="btn btn-primary">Endereço</button> </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Violet</td>
                <td>17</td>
                <td>(47) 92731-0973</td>
                <td>violettheflower@gmail.com</td>
                <td>88726-279</td>
                <td><button type="button" class="btn btn-primary">Endereço</button> </td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-primary" type="button" asp-controller="Alunos" asp-action="Adicionar">Adicionar Novo Aluno</a>
    </div>
</div>
